@media screen and (max-width: 1750px) {
  .title {
    font-size: 75px;
  }
}

@media screen and (max-width: 1250px) {
  .columns {
    display: inline-block;
  }
  .column {
    display: inline-block;
    max-width: 1250px;
    margin: 0px 10px 0px 10px;
    padding: 0;
  }
  aside {
    box-shadow: none;
    margin: 10px 0px 0px 0px;
  }
  aside:last-child {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 1050px) {
  .menu {
    display: flex;
  }
  .title {
    font-size: 55px;
  }
  .logo {
    max-height: 100px;
    max-width: auto;
  }
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    z-index: 2;
    width: 25vw;
    max-width: 175px;
    min-width: 125px;
    top: 55px;
    right: 0;
    background-color: grey;
    border-right: 1px solid black;
  }
  .menu li,
  .menu li a {
    display: flex;
    background-color: grey;
    margin-right: 0;
    width: 100%;
  }
  .logo {
    display: none;
  }
  .parallax {
    min-height: 250px;
  }
  aside {
    display: none;
  }
  .hamburger {
    font-size: 40px;
    color: lightgrey;
    display: inline;
    position: absolute;
    right: 0;
    border: none;
    background: none;
    padding: 0px 10px 5px 0px;
    align-self: flex-start;
  }
}

@media screen and (max-width: 642px) {
  .title {
    font-size: 48px;
  }
}

@media screen and (max-width: 392px) {
  .title,
  nav,
  .parallax,
  main,
  footer {
    min-width: 370px;
  }
}
